[Desktop Entry]
Type=Application
Name=YACHT
Comment=Yet Another CSV HTML Translator
Exec=yacht-gui %F
Icon=x-office-spreadsheet
Terminal=false
Categories=Office;Utility;
MimeType=text/csv;text/tab-separated-values;
StartupNotify=true
